html,
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

canvas {
  display: block;
  width: 100%;
  height: auto;
}


.is-active {
  color: blue !important;
}

svg {
  fill: currentColor;
}